*.suo
*.user
*.sdf
*.opensdf
ZillaBunnyMark.cfg
.vs/
Debug-vs2012/
Debug-vs2012x64/
Debug-vs2013/
Debug-vs2013x64/
Debug-vs2015/
Debug-vs2015x64/
Release-vs2012/
Release-vs2012x64/
Release-vs2013/
Release-vs2013x64/
Release-vs2015/
Release-vs2015x64/
Debug-vs2019/
Debug-vs2019x64/
Debug-linux/
Release-linux/
Debug-wasm/
Release-wasm/